        <h3>
            All Courses
        </h3>
<div class="col-sm-4"></div>
  <div class="col-sm-4">
<?php
//var_dump($this->Tags);
        for($i =0 ; $i<count($this->Tags) ; $i++)
        {
            echo 'Course id :'.$this->Tags[$i]['id'].'<br>';
            echo 'Course name :'.$this->Tags[$i]['name'].'<br>';
            echo 'Course description :'.$this->Tags[$i]['describtion'].'<br>';
            echo 'Course publish Date :'.$this->Tags[$i]['publishDate'].'<br>';  
            echo 'Course status :'.$this->Tags[$i]['status'].'<br>';
           ?>
<a href="<?php echo $this->baseUrl()?>/course/edit/id/<?php echo $this->Tags[$i]['id'];?>" > Edit </a>
<a href="<?php echo $this->baseUrl()?>/course/delete/id/<?php echo $this->Tags[$i]['id'];?>" > Delete </a>
<br />
    <?php
    echo str_repeat("*", 80)."<br />";
        }
?>
</div>
  <div class="col-sm-4"></div>
<!--  <a href="<?php echo $this->baseUrl()?>/material/edit/id/<?php echo $this->Tags[$i]['id'];?>" > Edit </a>-->
  <a href="<?php echo $this->baseUrl()?>/material/view/id/<?php echo $this->Tags[$i]['id'];?>" > view </a>
  
