
    <?php
//var_dump($this->Tags);




    $id = $this->Tags[0]['id'];
    $name = $this->Tags[0]['name'];
    $desc = $this->Tags[0]['describtion'];
//$teachby=$this->Tags[0]['TeachedBy'];
    $teachby = $this->Teacher;

//var_dump($teachby);
    $publishDate = $this->Tags[0]['publishDate'];
    $status = $this->Tags[0]['status'];
    $img = $this->Tags[0]['Img'];
    $tags = $this->Tagsname;

    echo "<img src='" . $this->baseUrl() . '/Images/courseImg/' . $img . "' width='100px' height='100px'  class='img-rounded '>";

    echo"   <div class='form-group'>
         <label >Course Name:</label>

    <p>$name</p>
         
  <label >Course Description</label>

    <p>$desc</p>
        <label >Instractor</label>

    <p>$teachby</p>
        <label >Statues of Course </label>

    <p>$status</p>
            <label >Tags </label>
</div>";


    for ($i = 0; $i < count($tags); $i++) {

        echo " <a  role='button' class='btn btn-info'># ".$tags[$i][0]['name']."</a>";
        echo"<br>";
    }


    echo" <a href='" . $this->baseUrl() . "/material/listone/id/" . $id . "' > Show material </a>";
    echo"<br>";

    echo" <a href='" . $this->baseUrl() . "/material/add/CourseId/".$id."'>ADD  Material</a>";
    echo"<br>";
    echo" <a href='" . $this->baseUrl() . "/post/form/id/".$id."'>Form</a>";
    ?>


