.clear
{
    clear: both;
}
body
{
    box-sizing: border-box;
}
.navbar-default
{
    background-image: linear-gradient(to bottom, #EDE1C7 0%, #E9DDC7 100%);
    border:none;
}
nav.navbar.navbar-default {
    margin-bottom: 0px;
}
.navbar-default .navbar-nav > li > a
{
    font-size: 20px;
    color: #FFF;
}
.navbar-default .navbar-nav > .active > a,.navbar-default .navbar-nav > li > a:hover
{
    background: none;
    background-color: transparent;
    background-image: -webkit-linear-gradient(top, #dbdbdb 0%, #e2e2e2 0%);
    border-bottom: 5px solid #8FC0B1;
}
.BG-MainImg
{
    background-image: url('../Images/Old-Books-Outdoors.png');
    background-size: cover;
    background-repeat: no-repeat;
    height:500px;
}
#Opac
{ 
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    text-align: left;
    height: inherit;
}

.carousel-caption h1,.carousel-caption h3
{
    font-family: monospace;
    text-align: left;
    bottom: 300px;
    left: 0%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
}
.carousel-caption h3
{
    margin-top: 70px;
    margin-bottom: 10%;
}
.input-group
{
    border: 10px solid rgba(235, 223, 199, .5);
    border-radius: 5px;
}
.carousel-caption .search
{
    left: 0%;
    z-index: 10;
    text-align: left;
    padding: 0px; 

}

.carousel-caption h1
{
    font-size: 10px;
} 

/*sm*/
@media (min-width: 768px)
{
    .carousel-caption h1
    {
        font-size:20px;
    }
}
/*md*/
@media (min-width: 992px)
{
    .carousel-caption h1
    {
        font-size:30px;
    }
}
/*lg*/
@media (min-width: 1200px)
{
    body .carousel-caption h1
    {
        font-size:40px;
    }
}
.content
{
      padding-bottom: 20px;
}
.content h3
{
    text-align: center;
    font-size: 30px;
    color: #4A9184;
    margin-bottom: 1.5%;
}
.content h3:before,.content h3:after
{
    content:'';
    border-top:solid 2px #4A9184;
    width: 100px;
    display:inline-block;
    position:relative;
    top:-6px;
}
.content p
{
    color:#4A9184;
    font-size: 20px;  
}
#Mybtn{
    width:100%;
    color:#4A9184;
    font-size:20px;
    background-color: #ECE0C7;
}

.mydiv h2 {
    font-size: 15px;
}

.mydiv p {
    font-size:15px;
}

.mydiv img {
    width: 70%;
}
.thumbnail
{
    padding: 0;
}
.mydiv a
{
    font-size: 20px;
    font-family:sans-serif;
    color:#4A9184;
}
.mydiv a:hover
{
    text-decoration: none;
    color: #09602D;
}
.mydiv h5
{
    font-size: 17px;
}
.Links
{
    margin-left: 15%;
}
.footerBG
{
    background-image: linear-gradient(to bottom, #EDE1C7 0%, #E9DDC7 100%);
    padding: 5%;
}
.contentBG
{
    background-color: rgba(147, 167, 105,0.3);
}
.thumbnail  .profile_img
{
    float: left;
    padding: 2px;
    width: 70px;
    height:70px;
}
.subject_img
{
    width: 260px;
    height: 300px;
    margin-left: 10px;
}