
 <div class="col-sm-4"></div>
  <div class="col-sm-4">
<?php
for($i = 0; $i<count($this->Tags); $i++){
foreach ($this->Tags[$i] as $key=>$value):
    echo $key." : ".$value ."<br />";
endforeach;
?>
<a href="<?php echo $this->baseUrl()?>/Tag/edit/id/<?php echo $this->Tags[$i]['id'];?>" > Edit </a>
<a href="<?php echo $this->baseUrl()?>/Tag/delete/id/<?php echo $this->Tags[$i]['id'];?>" > Delete </a>
<br />
<?php
echo str_repeat("*", 80)."<br />";
}

?>
</div>
 <div class="col-sm-4"></div>
