
<html>
    <body>
        
<br /><br />
<div id="view-content">
	<p>View script for controller <b>Material</b> and script/action name <b>list one material by course id</b></p>
</div>

<table class="table table-condensed">
<tr>

<th>Name</th>
<th>Locked</th>
<th>Shown</th>
<th>Downloads</th>
<th>Parent</th>
<th>Type</th>
<th>Course Id</th>
<!--<th>Action</th>
<th>Download</th>-->


</tr>


<?php $datas = $this->material;

// var_dump($datas);
	     for($i = 0; $i< count($datas);$i++){ ?>
             
	    <tr>
	     
	      <td><?php echo$datas[$i]['name'];?></td>
	      <td><?php echo$datas[$i]['isLocked'];?></td>   
	      <td><?php echo$datas[$i]['isShown'];?></td>  
               <td><?php echo$datas[$i]['numberOfDownloads'];?></td> 
                <td><?php echo$datas[$i]['parent'];?></td> 
              <td><?php echo$datas[$i]['TypeId'];?></td>  
               <td><?php echo$datas[$i]['CourseId'];?></td> 
	      
	       </tr>
	  <?php } ?>
               
               
               <!--
               -->
	  </table>






</body>
</html>