<!DOCTYPE html>
<html>
    <body>

        

        <br /><br />
        <div id="view-content">
            <p>View script for controller <b>Material</b> and script/action name <b>View</b></p>
        </div>
        <?php
        echo $this->form;
        $datas = $this->material;
//var_dump( $datas);
        var_dump($datas[0]['TypeId']);
        $typeid = $datas[0]['TypeId'];
            $filename=$datas[0]['name'];
            $coursename=$datas[0]['CourseId'];
//var_dump($datas[0]['file']);
//echo ($datas[0]['file']);
        if ($datas[0]['TypeId'] == 2) {//Video
//            $typeid = $datas[0]['TypeId'];
//            $filename=$datas[0]['name'];
//            echo"   <a  role='button' class='btn btn-info'>  $typeid</a>";
            echo"</p>2222222222222222</p>";
            echo"  <video id='vid'>
                      <source type='video/mp4' src='/var/www/html/zendproject/material/$coursename/$typeid/$filename'></source>


<source type='video/ogg' src='/var/www/html/zendproject/material/$coursename/$typeid/$filename'></source>
<source type='video/webm' src='/var/www/html/zendproject/material/$coursename/$typeid/$filename'></source>

              



            <p>your browser is very old :)</p>
            
          
            </video>";
        }

        if ($datas[0]['TypeId'] == 1) {//Pdfo
//    <a  role='button' class='btn btn-info'> <?php echo $datas[0]['TypeId']?</a>
            echo"</p>11111111111111</p>";
//            
    echo"<object data='/var/www/html/zendproject/material/$coursename/$typeid/$filename' type='application/pdf'  width='600' height='500'>
    <embed src='/var/www/html/zendproject/material/$coursename/$typeid/$filename' type='application/pdf' width='600' height='500' />";
        }
        ?>

       
       

<!--<img src="#z<?php echo $this->baseUrl() ?>/images/1456643_667074509999369_1933531154_n.jpg" alt="Smiley face" height="100" width="100"> 


       <object data="Apache.pdf" type="application/pdf"  width="600" height="500">
    <embed src="Apache.pdf" type="application/pdf" width="600" height="500" />-->
    </body>
</html>