<html>
    <head>
        <title>L-EARN</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link  href="/osalex/public/css/custom.css" rel="stylesheet" type="text/css" />
        <link  href="/osalex/public/css/bootstrap.min.css" rel="stylesheet" />
        <script src="/osalex/public/js/jquery.min.js"></script>
        <script src="/osalex/public/js/bootstrap.min.js"></script>
        <link href="/osalex/public/css/bootstrap-theme.css" rel="stylesheet" type="text/css"/>
    </head>
    <body role="document">
       <nav class="navbar navbar-default animated zoomIn">
          <div class="container-fluid container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle=" collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
                <a class="navbar-brand" href="<?php echo $this->baseUrl();?>/course/">L-earn</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="<?php echo $this->baseUrl();?>/user/">home <span class="sr-only">(current)</span></a></li>
                  <li class=""><a href="<?php echo $this->baseUrl();?>/course/">courses</a></li>
                 
                  <li><a href="<?php echo $this->baseUrl();?>/user/add">Sign up</a></li>
                 <li><a href="<?php 
                                    $auth = Zend_Auth::getInstance()->getStorage()->read();
                                    if(!empty($auth->id))
                                    {
                                        echo $this->baseUrl().'/user/logout';
                                    }
                                    else
                                    {
                                         echo $this->baseUrl().'/user/login';
                                    }?>">
                         <?php
                         if(!empty($auth->id))
                                    {
                                        echo 'logOut';
                                    }
                                    else
                                    {
                                         echo 'logIn';
                                    }
                         ?>
                     </a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
         <div class="BG-MainImg">
            <div id="Opac">
                
             
                <div class="carousel-caption animated rotateInUpLeft">
                    <h1>
                       L-earn Online E-learning Website
                    </h1>
                    
                    <h3>
                        Your way to Learn what you want and Teach what you know
                    </h3>
                </div><!-- /.row -->
                
            </div>
            
        </div>
        <div class="contentBG">
             <div class="container content">   
          <?php echo $this->layout()->content; ?>
      		</div>
      </div>
        <div class=" mydiv col-lg-12 col-xs-12"> 
               <a href="#"> L-earn </a>
              <h5>
                  A Website to communicate to share what you learn and know new things   
              </h5>
       </div>
        
        <div class=" mydiv col-md-3 col-xs-4" id="Myfont"> 
               <h2>Company</h2>
               <h2>About</h2>
               <h2>People</h2>
               <h2>Leader Ship</h2>
               <h2>Career</h2>
           </div>
           
           
           <div class=" mydiv col-md-3 col-xs-4"> 
               <h2>Friends</h2>
               <h2>Partners</h2>
               <h2>Community</h2>
               <h2>Programs</h2>
               <h2>Developers</h2>
               <h2>Translate</h2>
           </div>
           
           
           <div class=" mydiv col-md-3 col-xs-4"> 
               <h2>Company</h2>
               <h2>About</h2>
               <h2>People</h2>
               <h2>Leader Ship</h2>
               <h2>Career</h2>
           </div>
           
           
           
           
           <div class=" mydiv col-md-3 col-xs-4"> 
               <h2>More</h2>
               <h2>Privacy</h2>
               <h2>Terms</h2>
               <h2>Help</h2>
               <h2>Press</h2>
               <h2>Contact</h2>
           </div>
    
        <script src="/osalex/public/js/jquery-2.1.3.js" type="text/javascript"></script>
        <script src="/osalex/public/js/bootstrap.js" type="text/javascript"></script>
    </body>
</html>