<br /><br />
<div id="view-content">
	<p>View script for controller <b>File</b> and script/action name <b>add</b></p>
</div>
<?php
echo $this->form;
?>


<a href="<?php echo $this->baseUrl()?>/file/download/" > Download </a>