<br /><br />
<div id="view-content">

</div>
<link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/css/bootstrap.min.css">
<link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/css/jquery-ui.min.css">

<link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/chosen/chosen.css">

<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/js/jquery.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/js/bootstrap.min.js"></script>

<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/chosen/chosen.jquery.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/chosen/chosen.jquery.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/chosen/chosen.proto.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/chosen/chosen.proto.min.js"></script>

<script>
     $(document).ready(function(){
            $( "#birthday" ).datepicker({
		changeMonth: true,
		changeYear: true
	});
        
        
     });
</script>


<?php
echo $this->form;
?>
