<h3>
    Course you teaching
</h3>
<div class="col-sm-8">
  <?php
    for($i=1;$i<=count($this->Courses);$i+=1)
    {
        if($i==1)
        {
            echo "<div class='row'>";
           // echo $i;
        }
        else if(($i%4)==0)
        {
            echo '</div><div class="row">';
        }
        echo ' <div class="col-lg-3 col-sm-6 col-md-3">';
        echo '<div class="thumbnail">';
        echo "<img class='subject_img' src='".$this->baseUrl().'/Images/courseImg/'.$this->Courses[$i-1]['Img']."'>";
        echo '<div class="caption">';
        echo '<p><a href="'.$this->baseUrl().'/course/view/id/'.$this->Courses[$i-1]["id"].'">'.$this->Courses[$i-1]['name'].'</a></p>';
        echo '<h5>'.$this->Courses[$i-1]['describtion'].'</h5>';
        echo '</div>'; 
        echo '</div>'; 
        echo '</div>'; 
        if ($i==count($this->Courses)) 
        {
            echo '</div>';
            //echo $i;
        }

     
    }
    
 ?>

</div>
<div class="col-sm-4">
    <a href="<?php  echo $this->baseUrl()?>/course/add"><h4>+ add course</h4></a>
</div>