<?php
  echo $this->postform;
  for ($i=0;$i< count($this->posts);$i++)
  {
       echo '<div>'.$this->posts[$i]['user'][0]['userName'].
                '<img src="'.$this->posts[$i]['user'][0]['image'].'">'.
               '</div>';
      echo "<div class='bg-warning'>".$this->posts[$i]['textArea']."</div><br>";
       $myid=$this->posts[$i]['id'];
       echo "<a href='".$this->baseUrl()."/post/edit/id/".$myid."'> EditPost </a>";
//       $myid=$this->posts[$i]['id'];
      
     
      
     
     
      for($j=0;$j<count($this->posts[$i]['comments']);$j++)
      {
          echo '<div>'.$this->posts[$i]['comments'][$j]['User'][0]['userName'].
                  '<img src="'.$this->posts[$i]['comments'][$j]['User'][0]['image'].'">'.
                  '</div>';
           echo "<div class='bg-danger'>".$this->posts[$i]['comments'][$j]['textArea']."</div><br>";
           $myid=$this->posts[$i]['id'];
           echo "<a href='".$this->baseUrl()."/comment/edit/id/".$myid."'> EditComment </a>";
          
      }
       $this->commentform->setAction($this->baseUrl()."/Comment/add/id/".$this->posts[$i]['id']);
      
      echo '<br>'; 
      echo  $this->commentform;
      echo '<br>';
  }
// var_dump($this->posts);
 
?>