
<h3>All Posts</h3>
<?php
for($i = 0; $i<count($this->posts); $i++){
foreach ($this->posts[$i] as $key=>$value):
    echo $key." ".$value ."<br />";
endforeach;
?>
<a href="<?php echo $this->baseUrl()?>/post/edit/id/<?php echo $this->posts[$i]['id'];?>" > Edit </a>
<a href="<?php echo $this->baseUrl()?>/post/delete/id/<?php echo $this->posts[$i]['id'];?>" > Delete </a>
<a href="<?php echo $this->baseUrl()?>/post/view/id/<?php echo $this->posts[$i]['id'];?>" > view </a>

<br />
<?php
echo str_repeat("*", 80)."<br />";
}
?>
