<br /><br />
<div id="view-content">
	<p>View script for controller <b>Article</b> and script/action name <b>listone</b></p>
        
        
        
        
        
        <?php
    echo "Title: ".$this->article['title']."<br/>";
    echo "Body: ".$this->article['body']."<br/>";

?>
<a href="<?php echo $this->baseUrl()?>/article/edit/id/<?php echo $this->article['id'];?>" > Edit </a>
<a href="<?php echo $this->baseUrl()?>/article/delete/id/<?php echo $this->article['id'];?>" > Delete </a>

<br />

<pre>

<?php
echo str_repeat("*", 80)."<br />";

//-------------------------------------------------------


for($i = 0; $i<count($this->comments); $i++){

    echo "Commented By:  ".$this->comments[$i]['user_id']."<br />". $this->comments[$i]['body']."<br/>";
    
?>
<a href="<?php echo $this->baseUrl()?>/article/cmntedit/id/<?php echo $this->comments[$i]['id'];?>/artId/<?php echo $this->article['id'];?>" > Edit </a>
<a href="<?php echo $this->baseUrl()?>/article/cmntdelete/id/<?php echo $this->comments[$i]['id'];?>/artId/<?php echo $this->article['id'];?>" >  Delete </a>
<br />
<?php
echo str_repeat("*", 80)."<br />";
}

//comment box
      
            echo $this->comment;


?>
</div>

