<!--
<div id="view-content">
	<p>View script for controller <b>Post</b> and script/action name <b>view</b></p>
</div>-->
<?php
echo '<h1>'.$this->post['title'].'</h1>';
echo '<div>'.$this->post['body'].'</div>';
//print_r($this->post);
echo $this->CommentForm;