<h3>
    Latest Courses
</h3>
<?php
//var_dump($this->view->$Courseresult);

    for($i=1;$i<=count($this->latestcourses);$i++)
    {
         if($i==1)
        {
            echo "<div class='row'>";
           // echo $i;
        }
        else if(($i%4)==0)
        {
            echo '</div><div class="row">';
        }
       echo '<div class="col-lg-3 col-sm-6 col-md-3">';
       echo '<div class="thumbnail">';
       echo '<img class="subject_img" src="'.$this->baseUrl().'/Images/courseImg/'.$this->latestcourses[$i-1]["Img"].'" alt="...">';
       echo '<div class="caption">';
       echo '<p><a href="'.$this->baseUrl().'/course/view/id/'.$this->latestcourses[$i-1]["id"].'">'.$this->latestcourses[$i-1]['name'].'</a></p>'; 
        echo '<h5> teached by : '.$this->latestcourses[$i-1]["TeachedBy"][0]["userName"].'</h5>';
       echo '</div>';
       echo '</div>';
       echo '</div>';
       if ($i==count($this->latestcourses)) 
       {
            echo '</div>';
            //echo $i;
       }

    }
?>
<h3>
    Latest Users
</h3>
<?php
    for($i=1;$i<=count($this->latestuser);$i++)
    {
         if($i==1)
        {
            echo "<div class='row'>";
           // echo $i;
        }
        else if(($i%4)==0)
        {
            echo '</div><div class="row">';
        }
       echo '<div class="col-lg-3 col-sm-6 col-md-12">';
       echo '<div class="thumbnail">';
       echo '<img src="'.$this->baseUrl()."/Images/".$this->latestuser[$i-1]["image"].'" alt="..." class="profile_img">';
       echo '<div class="caption">';
       
       echo '<h5>'.$this->latestuser[$i-1]["userName"].'</h5>';
       echo '<a href="'.$this->baseUrl().'/user/delete/id/'.$this->latestuser[$i-1]["id"]
               .'">delete</a>';
       echo '</div>';
       echo '</div>';
       echo '</div>';
       if ($i==count($this->latestuser)) 
       {
            echo '</div>';
            //echo $i;
       }
    }
?>
<a id="Mybtn" class="btn btn-default " href="<?php echo $this->baseUrl()?>/course/list">View All Courses</a>
<br>
<br>
<a id="Mybtn" class="btn btn-default " href="<?php echo $this->baseUrl()?>/user/list">View All User</a>
?>